.dashboard {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* Space between charts */
  }
  
  .pie-container {
    width: 400px; /* Width of each chart */
    height: 400px; /* Height of each chart */
  }

  .line-container {
    width: 800px; /* Width of each chart */
    height: 800px; /* Height of each chart */
  }